/* tag generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearflix::after{
    content: none;
    display: table;
    clear: both;
}

/* tag body */

.clearflix{
    margin: 1.6% 10.8% 2.2% 11.7%;
    border: 1px solid black;
    height: 760px;
    background-color: red;
}

.centro{
    margin-left:34%;
}

.destra{
    margin-left: 67.7%;
}

.sopra{
    border: 1px solid black;
    background-color: blue;
    width: 475px;
    height: 690px;
    float: left;
}

.sotto{
    width: 475px;
    height: 70px;
    background-color: green;
    margin-top: 687px;
    margin-left: -1px;
}