/* tag generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

.clearflix::after{
    content: none;
    display: table;
    clear: both;
}

/* tag body */

/* tag allineamenti */

.clearflix{
    margin: 1.6% 10.8% 2.2% 11.7%;
    height: 760px;
}

.centro{
    margin-left:34%;
}

.destra{
    margin-left: 67.8%;
}

/* tag immagine */

.foto{
    width: 475px;
    height: 690px;
    float: left;
    position: relative;
}

img{
    width: 475px;
    height: 690px;
}

/* tag absolute */

.cuore{
    position: absolute;
    background-color: white;
    height: 50px;
    width: 50px;
    top: 20px ;
    right: 0;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
}

.rosso{
    background-color: rgb(231, 5, 5);
    width: 42px;
}


.verde{
    background-color: green;
    width: 90px;
    left: 46px;
}

.sopra{
    position: absolute;
    height: 25px;
    bottom: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    color: white;
    line-height: 25px;
}

.verdesolo{
    background-color: green;
    width: 90px;
}

/* tag informazioni */

.info{
    width: 475px;
    height: 70px;
    margin-top: 4px;
}

.marca{
    font-size: 14px;
}

h2{
    font-size: 16px;
}

.prezzo{
    color: red;
    font-weight: bold;
}

.sconto{
    text-decoration: line-through;
}


/* hover immagini */

.img1{
    display: block;
}

.img2{
    display: none;
}

#cambio.immagine:hover .img1{
    display: none;
}

#cambio.immagine:hover .img2{
    display: block;
}